body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.felxible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-part{
    width: 50%;
    padding-left: 70px;
}
.half-part p{
    text-align: justify;
}
.half-part img{
    width: 80%;
    padding-top: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middle-part p{
    padding-right: 130px;
}
.container{
    display: flex;
    padding-bottom: 100px;
}
.ex-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
.ex-item h1{
    font-size: 40px;
}
.experience-part h1{
    text-align: center;
}
.experience-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:unset;
}
#w-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) 30;
    border-image-slice: 1;
}
#s-qa{
    border-left: 7px solid;
    border-image: linear-gradient(orange, yellow) 30;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}