body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-part{
    width: 50%;
    padding-left: 70px;
}
.half-part p{
    text-align: justify;
}
.half-part img{
    width: 80%;
    padding-top: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middle-part p{
    padding-right: 130px;
}